<!DOCTYPE html>
<html>
  <head>
    <title>Add Movie - MovieWeb App</title>
    <link rel="stylesheet" href="\static\styles.css" />
  </head>
  <body>
    <div class="list-movies-title">
      <a class="btn-back" href="/users/{{ user_id }}">Back to User Movies</a>
      <h1>Add Movie</h1>
      <a class="btn-back" href="/users/{{ user_id }}" style="visibility: hidden"
        >Back to User Movies</a
      >
    </div>
    <div class="users-body">
      <form
        class="add_form"
        method="POST"
        action="{{ url_for('add_movie', user_id=user_id) }}"
      >
        <input type="text" name="name" id="name" placeholder="Name" required />
        <br />
        <input
          type="text"
          name="director"
          id="director"
          placeholder="Director"
          required
        />
        <br />
        <input
          type="number"
          name="year"
          id="year"
          min="1900"
          max="2099"
          placeholder="Year"
          required
        />
        <br />
        <input
          type="number"
          name="rating"
          id="rating"
          step="0.1"
          min="0"
          max="10"
          placeholder="Rating"
          required
        />
        <br />
        <input type="submit" value="Add Movie" />
      </form>
    </div>
  </body>
</html>
