<!DOCTYPE html>
<html>
  <head>
    <title>User Movies - MovieWeb App</title>
  </head>
  <body>
    <h1>User Movies</h1>
    <h2>{{ user.name }}'s Favorite Movies</h2>
    <ul>
      {% for movie_id, movie_data in movies.items() %}
      <li>
        <strong>{{ movie_data.name }}</strong>
        <ul>
          <li>Director: {{ movie_data.director }}</li>
          <li>Year: {{ movie_data.year }}</li>
          <li>Rating: {{ movie_data.rating }}</li>
        </ul>
        <a href="/users/{{ user_id }}/update_movie/{{ movie_id }}">Edit</a>
        <a href="/users/{{ user_id }}/delete_movie/{{ movie_id }}">Delete</a>
      </li>
      {% endfor %}
    </ul>
    <a href="/users">Back to Users</a>
    <a href="/users/{{ user_id }}/add_movie">Add Movie</a>
  </body>
</html>
